<div>
  <main class="container">
    <form [formGroup]="listaFilmesForms">
      <div class="p-4 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <div class="me-lg-auto justify-content-center">
          <h3>{{ titBanner }}</h3>
        </div>

        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input formControlName="TitleFilm" (keyup.enter)="buscaTitulo()" type="search"
            class=" searchTerm form-control form-control-dark text-bg-dark" placeholder="Busca Filmes..."
            aria-label="Search">
        </div>

        <div class="text-end">
          <button (click)="buscaTitulo()" type="button" class="btn btn-outline-dark me-2">Buscar</button>
        </div>
      </div>


      <div class="p-4 p-md-5 mb-4 rounded">
        <div class="row mb-2">
          <div *ngFor="let tit of titulo" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">

                <h3 class="mb-0">{{ tit.Title }}</h3>
                <div class="mb-1 text-muted">Lançamento: {{ tit.Year }}</div>

                <button (click)="addFavoritos(tit.Title, tit.imdbID, tit.Year, tit.Poster, tit.Type, tit.Save)"
                  class="mt-2 btn btn-outline-info {{ favClass }}">Favoritos
                  <!-- <i class="bi bi-suit-heart-fill redHeart"></i> -->
                  <i class="bi bi-suit-heart"></i>
                </button>
                <a href="https://www.imdb.com/title/{{ tit.imdbID }}" target="_blank"
                  class="mt-2 btn btn-outline-info">Pesquisa IMDb</a>
              </div>
              <div class="col-auto d-lg-block">
                <img src='{{ tit.Poster }}' class="bd-placeholder-img" width="200" height="250" role="img" />

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>